@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

a:focus,
a:hover {
  color: var(--color-secondary-light);
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
}

.wrap {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
}

/*
.header {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 40px;
  margin: 0 auto;

  color: var(--color-primary-dark);
  border-top: solid 2px var(--color-primary-dark);
  border-bottom: solid 2px var(--color-primary-dark);
  box-shadow: var(--box-shadow);

  font-weight: 500;
  // border-bottom: solid 2px var(--color-dark-transparent);
  &:before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    content: "";

    background-color: var(--color-dark-transparent-lighter);

    backdrop-filter: blur(4px);
  }
}
*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  opacity: 0.85;
}
.header .heading-text {
  font-size: 20px;
  color: white;
}

.nav {
  padding: 0 2vw;
}
.nav ul {
  margin: 0.5rem;
}
.nav ul li {
  margin: 0 0.5rem;
}

/* Hero */
.box.hero {
  width: auto;
  padding-bottom: 1.5em;
  background-color: var(--color-background);
  background-image: url("http://placeimg.com/1280/480/any");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-shadow: var(--text-shadow);
}
.box.hero > p {
  margin-top: 0.5em;
  color: var(--color-white);
}

/*
.sidebar {
  display: block;
  // min-width: 8rem;
  width: fit-content;
  height: calc(100vh - 40px);
  padding: 1rem;
  position: sticky;
  top: 40px;
  background-color: var(--color-dark-transparent-lighter);
  border-right: solid 2px var(--color-primary-dark);

  .top {
    font-size: 1.05rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  ul {
    margin-bottom: 0.2rem;
    li {
      margin: 0.25rem 0;
    }
  }
}
*/
.nav {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 220px;
  background-color: #333;
  height: 100%;
}

.nav.isClose li a {
  padding: 20px 15px 20px 50px;
}

.nav li a {
  position: relative;
  display: block;
  padding: 20px 15px 20px 80px;
  font-size: 14px;
  color: #eee;
  border-bottom: 1px solid #222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav li a:hover {
  background: #444;
  opacity: 0.8;
  cursor: pointer;
}
.nav li a.active, .nav li a:active {
  -webkit-box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
          box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #699;
}
.nav li a:before {
  font: 18px fontawesome;
  position: absolute;
  top: 22px;
  left: 20px;
}
.nav li:nth-child(1) a:before {
  content: "";
}
.nav li:nth-child(2) a:before {
  content: "";
}
.nav li:nth-child(3) a:before {
  content: "";
}
.nav li:nth-child(4) a:before {
  content: "";
}
.nav li:nth-child(5) a:before {
  content: "";
}
.nav li:nth-child(6) a:before {
  content: "";
}
.nav li:nth-child(7) a:before {
  content: "";
}
.nav li:nth-child(8) a:before {
  content: "";
  left: 23px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(100% - (60px));
  height: 100%;
  min-height: 180vh;
  padding: 16px 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(60px, 0, 0);
          transform: translate3d(60px, 0, 0);
  background: #eee;
}
.content.isOpen {
  width: calc(100% - (220px));
  -webkit-transform: translate3d(220px, 0, 0);
          transform: translate3d(220px, 0, 0);
}
.content .inner-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .section {
  margin-top: 32px;
}
.content .section + .section {
  margin-top: 24px;
}
.content .section .card {
  padding: 24px;
  border: 1px solid #ccc;
}
.content .section .card > p {
  font-size: 18px;
  line-height: 2;
}

.toggle {
  position: sticky;
  top: 48px;
  text-transform: uppercase;
}
.toggle:before {
  margin-right: 4px;
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font: 24px fontawesome;
}
.toggle:hover {
  cursor: pointer;
  opacity: 0.8;
}
.toggle:hover:before {
  color: #5b5;
}

/* Demo Navigation */
.title {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
  font-size: 16px;
  line-height: 50px;
}
.title:before {
  content: "";
  font: 18px fontawesome;
}
.title.isClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  padding-left: 20px;
  font-size: 0;
}

/* Demo Description */