.sidebar {
  display: block;
  // min-width: 8rem;
  width: fit-content;
  height: calc(100vh - 40px);
  padding: 1rem;
  position: sticky;
  top: 40px;
  background-color: var(--color-dark-transparent-lighter);
  border-right: solid 2px var(--color-primary-dark);

  .top {
    font-size: 1.05rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  ul {
    margin-bottom: 0.2rem;
    li {
      margin: 0.25rem 0;
    }
  }
}
